
@media (min-width: 991px){
  .scroll_menu{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  }
  .scroll_menu #main-menu{
    background-color:transparent;
    box-shadow: none;
  }
  @keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}}
}

@media (max-width: 991px){
  .main-menu-area .container{
    padding:0;
  }
  .main-wrapper {
    padding-top: 60px;
  }
  .mobile_menu{
    right: 0!important;
  }
  #main-menu .logo {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
  .main-menu-area{
    transition: 0.5s;
    position: fixed;
    top: 60px;
    right: -230px;
    z-index: 3;
    width: 230px;
    background:#fff;
    border-top:1px solid #eee;
  }
  .main-menu-area .logo{
    display: none;
  }
  .mobile-header {
    display: flex !important;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
  .mobile-header #toggleMenu {
    position: absolute;
    top: 50%;
    color: rgba(255, 0, 0, 1);
    transform: translateY(-50%);
    right: 15px;
  }
  #main-menu {
    height: calc(100vh - 60px);
    overflow-y: auto;
    border-radius: 0;
    padding: 0 !important;
    display: block;
    box-shadow: 0 2px 11px rgb(0 0 0 / 10%);
  }
  .navbar-nav{
    width:100%;
  }
  #main-menu .nav-link {
    padding: 10px 20px!important;
    display: block;
    transition:0.5s;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #main-menu .nav-link:hover{
    color:rgba(255, 0, 0, 1)!important;
  }
  #main-menu .nav-item.ml-5{
    margin-left: 0!important;
  }
  #main-menu .nav-item:last-child .nav-link{
    border-bottom: 0;
  }

  .banner-content{
    margin:0 15px!important;
  }

  #banner .owl-nav .owl-prev {
    left: -24px;
  }
  #banner .owl-nav .owl-next {
    right: -24px;
  }
  .banner-text{
    margin-bottom: 15px;
  }
  .form-element{
    margin-bottom: 10px;
  }
  .search-form{
    padding:30px!important;
  }

  .term-link{
    text-align: center!important;
  }
  .term-link li a {
    padding: 0 5px;
  }
  
  .single-counter{
    width: 100%;
  }

  .about-text, .single-event, .single-footer-content{
    margin-bottom: 30px;
  }
  .about-text, .help-type{
    text-align:center;
  }
  .single-help-type .icon{
    margin: 0 auto 15px;
  }

  .copyright, .branding{
    text-align: center!important;
  }
  .copy{
    margin-bottom: 15px;
  }
  .branding{
    margin-top:15px;
  }


}

